@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?yzhi2l');
    src:    url('fonts/icomoon.eot?yzhi2l#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?yzhi2l') format('truetype'),
        url('fonts/icomoon.woff?yzhi2l') format('woff'),
        url('fonts/icomoon.svg?yzhi2l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-bold-up:before {
    content: "\e914";
}
.icon-chevron-thin-up:before {
    content: "\e92d";
}
.icon-chevron-up:before {
    content: "\e92e";
}

